.category-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.category-card-container:hover {
  cursor: pointer;
}

.category-img {
  width: 10rem;
  height: 10rem;
  border-radius: 1rem;
}
.category-name {
  position: absolute;
  font-weight: 700;
  font-size: 1rem;
  padding-top: 7rem;
}
